# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg

# Poetry
.poetry/
poetry.lock

# Django
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
media/
staticfiles/

# Environment variables
.env
.env.*

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.cache
pytest_cache/
.coverage
*.cover
nosetests.xml
coverage.xml
*.hypothesis/
.pytest_cache/

# OS-specific files
.DS_Store
Thumbs.db

# Local virtual environments
venv/
env/
.env/
/.idea/.gitignore
/.idea/drf_knowledge_base.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
